{% load static %}

{% block content %}
    <h1>Liste des événements</h1>

    <!-- button to open the creation modal -->
     <!-- problem with double '' but still works -->
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#formModal" onclick="openFormInModal('{% url 'event_create' %}')">Créer un nouvel événement</button>

    <div class="calendar-legend">
        <h3>Légende des événements</h3>
        <ul class="legend-list">
            
            <li><span class="legend-color" style="background-color: var(--smash);"></span><span class="event-icon">🎮</span> Smash</li>
            <li><span class="legend-color" style="background-color: var(--mtg);"></span> <span class="event-icon">🃏</span> Magic The Gathering</li>
            <li><span class="legend-color" style="background-color: var(--lorcana);"></span> <span class="event-icon">✨</span> Lorcana</li>
            <li><span class="legend-color" style="background-color: var(--street_fighter);"></span><span class="event-icon">🥋</span> Street Fighter</li>
            <li><span class="legend-color" style="background-color: var(--rpg);"></span><span class="event-icon">🗡️</span> Jeux de roles</li>
            <li><span class="legend-color" style="background-color: var(--board_games);"></span><span class="event-icon">🎲</span> Jeux de societe</li>
            <li><span class="legend-color" style="background-color: var(--other);"></span><span class="event-icon">⭐</span> Autre</li>
        </ul>
    </div>
    

    <!-- Calendrier avec les événements en JSON -->
    <div id="calendar" data-events='{{ events_json|safe }}'></div>

    <!-- Modal pour créer un nouvel événement -->
    <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formModalLabel">Créer un nouvel événement</h5>
                    <button typ="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="formContent"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- bootstrap inclusion to make sure bootstrap is well included -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Script du calendrier -->
    <script src="{% static 'events/js/calendar.js' %}" defer></script>
    <!-- script du bouton du modal -->
    <script src="{% static 'events/js/createEventButton.js' %}"></script>
{% endblock %}
